/node_modules
/public/build
/public/hot
/public/storage

/Front-Application-build
/public/csv/kannel
/public/invoice
/public/reports
/public/temp
/public/uploads
/public/redis
/public/csv/campaign/*
/public/csv/queue/*
/public/csv/voice/*
/public/csv/wa_campaign/*
/public/csv/whatsapp/*
/public/whatsapp-file/*
/public/etc/*
/kannel

/sw
/storage

l9-smspannel.zip

websocket.conf
/storage/*.key
/vendor
.env
.env-server-ok-go
.env.backup
old_smsc_oursms.txt
smsc_sample.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
